@font-face {
font-family: 'Avenir LT Std-Roman-VDLFhW6l';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/86f33106-8b3c-439f-8ebd-115cd9852a0f/avenirltstd-roman.woff') format('woff');
}