@font-face {
font-family: 'Avenir LT Std-Light-UI86CYvN';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/134f16a0-4aee-4411-a751-89382f006e8c/avenirltstd-light.woff') format('woff');
}