@font-face {
font-family: 'Avenir LT Std-Medium-6e12XMan';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b5e6ad0a-f0ac-4c46-904f-bbe7eeb2f732/avenirltstd-medium.woff') format('woff');
}