@font-face {
font-family: 'Avenir LT Std-Book-kUEupsUN';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/d8cab9c4-9bff-4889-97e5-eaad5c25e51a/avenirltstd-book.woff') format('woff');
}